.contact__section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: rgb(250, 245, 239);
  background: linear-gradient(
    180deg,
    rgba(250, 245, 239, 1) 0%,
    rgba(255, 255, 255, 1) 54%
  );
  margin-bottom: 9rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  background-color: #faf5ef;
  min-width: 20%;
  width: 500px;
  min-height: 600px;
  border-radius: 20px;
  border: #e4ddd5 2px solid;
  box-shadow: 1px -1px 51px -15px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px -1px 51px -15px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px -1px 51px -15px rgba(0, 0, 0, 0.62);
}

.contact__form input {
  padding: 10px;
  min-width: 400px;
  border-radius: 20px;
  border: #eae3db 2px solid;
}

.contact__form textarea {
  resize: none;
  padding: 10px;
  border-radius: 20px;
  border: #eae3db 2px solid;
  min-width: 400px;
}

.contact__form h1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.contact__form span {
  color: #000000;
}

button {
  border: #e4ddd5 2px solid;
  background-color: #faf5ef;
  cursor: pointer;
  padding: 1em 4em;
  border-radius: 20px;
  font-size: 15px;
}

button:hover {
  box-shadow: 1px -1px 19px -7px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px -1px 19px -7px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px -1px 19px -7px rgba(0, 0, 0, 0.62);
}
