body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html{
  scroll-behavior: smooth;
}

code {
  font-family: "Inter", sans-serif;
}

.section {
  width: 60%;
}

.container {
  margin-bottom: 200px !important;
}

.bg {
  width: 100%;
}

.subtitle::before{
  content: "";
  border: orange 2px solid;
  margin: 0.2rem;
}